node_modules
.idea
# Ignore Mac DS_Store files 
.DS_Store 
**/.DS_Store

#Hardhat files
cache
artifacts

frontend_api/contracts/
.openzeppelin

frontend_api/contracts*
frontend_api/contracts*
frontend_api/tasks/
frontend_api/hardhat.config.js
frontend_api/.DS_Store
frontend_api/.DS_Store
