// Here you can add other styles

.sidebar-brand-full {
    width: 220px;
    height: 48px;
}

/*.header {
//    ;
background: var(--cui-sidebar-brand-bg, "#FF0000");
}*/

body {
    font: 1rem/1.5 var(--cui-font-sans-serif);
  }
  a {
    color: var(--cui-blue);
  }